<% include ../partials/header %>

<fieldset class="addNewSongForm">
  <h3>Add New Song</h3>
  <textarea class="songNameInput" name="name" rows="1" cols="40" placeholder="Song name..."></textarea>
  <select class="difficultySelect" name="difficulty" required>
    <option value="">Difficulty...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <fieldset>
    <h4>Add Note to Song</h4>
    <div>
      <ul class="addNoteUl">
      </ul>
    </div>
    <select class="noteSelect" name="note" required>
      <option value="">Note</option>
      <option value="ab">Ab</option>
      <option value="a">A</option>
      <option value="bb">Bb</option>
      <option value="b">B</option>
      <option value="c">C</option>
      <option value="db">Db</option>
      <option value="d">D</option>
      <option value="eb">Eb</option>
      <option value="e">E</option>
      <option value="f">F</option>
      <option value="gb">Gb</option>
      <option value="g">G</option>
      <option value="rest">Rest</option>
    </select>
    <select class="octaveSelect" name="octave" required>
      <option value="">Octave</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input class="lengthSelect" type="number" placeholder="Length of Note in Beats" step="0.25" min="0.25" max="12">
    <button class="addNoteButton">Add Note</button>
  </fieldset>
  <button class="submitNewSongButton">Submit Song</button>
</fieldset>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/create-song.js"></script>
<% include ../partials/footer %>
