<% include ../partials/header %>

<% include ../partials/songs-ui-box %>

<% include ../partials/fingerboard %>

<% include ../partials/song-scroll-box %>

<button class="deleteSongButton">Delete Song</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/note-data.js"></script>
<script src="/js/pitch-detection.js"></script>
<script src="/js/app.js"></script>
<% include ../partials/footer %>
