<% include ../partials/header %>

<% include ../partials/songs-ui-box %>

<div class="fingerboard-wrapper">
  <div class="fingerPlacement y0">0</div>
  <div class="fingerPlacement b0">0</div>
  <div class="fingerPlacement r0">0</div>
  <div class="fingerPlacement g0">0</div>
  <div class="fingerboard">
    <div class="fingerPlacement y1">1</div>
    <div class="fingerPlacement b1">1</div>
    <div class="fingerPlacement r1">1</div>
    <div class="fingerPlacement g1">1</div>
    <div class="fingerPlacement y2">2</div>
    <div class="fingerPlacement b2">2</div>
    <div class="fingerPlacement r2">2</div>
    <div class="fingerPlacement g2">2</div>
    <div class="fingerPlacement y3">3</div>
    <div class="fingerPlacement b3">3</div>
    <div class="fingerPlacement r3">3</div>
    <div class="fingerPlacement g3">3</div>
    <div class="fingerPlacement y4">4</div>
    <div class="fingerPlacement b4">4</div>
    <div class="fingerPlacement r4">4</div>
    <div class="fingerPlacement g4">4</div>
    <div class="fingerPlacement y5">5</div>
    <div class="fingerPlacement b5">5</div>
    <div class="fingerPlacement r5">5</div>
    <div class="fingerPlacement g5">5</div>
    <div class="fingerPlacement y6">6</div>
    <div class="fingerPlacement b6">6</div>
    <div class="fingerPlacement r6">6</div>
    <div class="fingerPlacement g6">6</div>
  </div>
</div>
<div class="song-scroll-box-wrapper">
  <audio id="songAudio"></audio>
<!-- <canvas class="song-scroll-box" width="1000" height="400">
</canvas> -->
</div>

<input type="hidden" class="currentSong" value="<%= song.songData%>">

<% include ../partials/footer %>
