<div class="fingerboard-wrapper">
  <div class="fingerPlacement y0"></div>
  <div class="fingerPlacement b0"></div>
  <div class="fingerPlacement r0"></div>
  <div class="fingerPlacement g0"></div>
  <div class="fingerboard">
    <div class="fingerPlacement y1"></div>
    <div class="fingerPlacement b1"></div>
    <div class="fingerPlacement r1"></div>
    <div class="fingerPlacement g1"></div>
    <div class="fingerPlacement y2"></div>
    <div class="fingerPlacement b2"></div>
    <div class="fingerPlacement r2"></div>
    <div class="fingerPlacement g2"></div>
    <div class="fingerPlacement y3"></div>
    <div class="fingerPlacement b3"></div>
    <div class="fingerPlacement r3"></div>
    <div class="fingerPlacement g3"></div>
    <div class="fingerPlacement y4"></div>
    <div class="fingerPlacement b4"></div>
    <div class="fingerPlacement r4"></div>
    <div class="fingerPlacement g4"></div>
    <div class="fingerPlacement y5"></div>
    <div class="fingerPlacement b5"></div>
    <div class="fingerPlacement r5"></div>
    <div class="fingerPlacement g5"></div>
    <div class="fingerPlacement y6"></div>
    <div class="fingerPlacement b6"></div>
    <div class="fingerPlacement r6"></div>
    <div class="fingerPlacement g6"></div>
  </div>
</div>
