<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= documentTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Tillana" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <header>
      <a href="/" class="logo">Play Strings</a>
      <div class="header-nav-wrapper">
        <ul>
          <li class="header-nav-items"><a class="header-nav-links" href="/songs">Song List</a></li>
          <li class="header-nav-items"><a class="header-nav-links" href="/songs/create-song">Create Song</a></li>
          <li class="header-nav-items"><a class="header-nav-links" href="/login-signup">Login / Signup</a></li>
        </ul>
      </div>
    </header>

  </head>
  <body>
