<div class="song-scroll-box-wrapper">
  <audio id="songAudio-a2" src="../mp3/a2.mp3"></audio>
  <audio id="songAudio-a3" src="../mp3/a3.mp3"></audio>
  <audio id="songAudio-a4" src="../mp3/a4.mp3"></audio>
  <audio id="songAudio-a5" src="../mp3/a5.mp3"></audio>
  <audio id="songAudio-ab2" src="../mp3/ab2.mp3"></audio>
  <audio id="songAudio-ab3" src="../mp3/ab3.mp3"></audio>
  <audio id="songAudio-ab4" src="../mp3/ab4.mp3"></audio>
  <audio id="songAudio-ab5" src="../mp3/ab5.mp3"></audio>
  <audio id="songAudio-b2" src="../mp3/b2.mp3"></audio>
  <audio id="songAudio-b3" src="../mp3/b3.mp3"></audio>
  <audio id="songAudio-b4" src="../mp3/b4.mp3"></audio>
  <audio id="songAudio-b5" src="../mp3/b5.mp3"></audio>
  <audio id="songAudio-bb2" src="../mp3/bb2.mp3"></audio>
  <audio id="songAudio-bb3" src="../mp3/bb3.mp3"></audio>
  <audio id="songAudio-bb4" src="../mp3/bb4.mp3"></audio>
  <audio id="songAudio-bb5" src="../mp3/bb5.mp3"></audio>
  <audio id="songAudio-c2" src="../mp3/c2.mp3"></audio>
  <audio id="songAudio-c3" src="../mp3/c3.mp3"></audio>
  <audio id="songAudio-c4" src="../mp3/c4.mp3"></audio>
  <audio id="songAudio-c5" src="../mp3/c5.mp3"></audio>
  <audio id="songAudio-d2" src="../mp3/d2.mp3"></audio>
  <audio id="songAudio-d3" src="../mp3/d3.mp3"></audio>
  <audio id="songAudio-d4" src="../mp3/d4.mp3"></audio>
  <audio id="songAudio-d5" src="../mp3/d5.mp3"></audio>
  <audio id="songAudio-db2" src="../mp3/db2.mp3"></audio>
  <audio id="songAudio-db3" src="../mp3/db3.mp3"></audio>
  <audio id="songAudio-db4" src="../mp3/db4.mp3"></audio>
  <audio id="songAudio-db5" src="../mp3/db5.mp3"></audio>
  <audio id="songAudio-e2" src="../mp3/e2.mp3"></audio>
  <audio id="songAudio-e3" src="../mp3/e3.mp3"></audio>
  <audio id="songAudio-e4" src="../mp3/e4.mp3"></audio>
  <audio id="songAudio-e5" src="../mp3/e5.mp3"></audio>
  <audio id="songAudio-eb2" src="../mp3/eb2.mp3"></audio>
  <audio id="songAudio-eb3" src="../mp3/eb3.mp3"></audio>
  <audio id="songAudio-eb4" src="../mp3/eb4.mp3"></audio>
  <audio id="songAudio-eb5" src="../mp3/eb5.mp3"></audio>
  <audio id="songAudio-f2" src="../mp3/f2.mp3"></audio>
  <audio id="songAudio-f3" src="../mp3/f3.mp3"></audio>
  <audio id="songAudio-f4" src="../mp3/f4.mp3"></audio>
  <audio id="songAudio-f5" src="../mp3/f5.mp3"></audio>
  <audio id="songAudio-g2" src="../mp3/g2.mp3"></audio>
  <audio id="songAudio-g3" src="../mp3/g3.mp3"></audio>
  <audio id="songAudio-g4" src="../mp3/g4.mp3"></audio>
  <audio id="songAudio-g5" src="../mp3/g5.mp3"></audio>
  <audio id="songAudio-gb2" src="../mp3/gb2.mp3"></audio>
  <audio id="songAudio-gb3" src="../mp3/gb3.mp3"></audio>
  <audio id="songAudio-gb4" src="../mp3/gb4.mp3"></audio>
  <audio id="songAudio-gb5" src="../mp3/gb5.mp3"></audio>
</div>
