<div class="songs-ui-box-wrapper">
  <h2 class="song-title">Twinkle Twinkle Little Star</h2>
  <h3 class="song-bpm">BPM <span class="current-bpm">80</span></h3><button>Change BPM</button>
  <br>
  <button>Change Song</button><div class="song-button-spacer"></div><button class='startSong'>Start Song</button>
  <button class='pauseButton' style='display: none'>Pause Song</button>
  <button class='resumeButton' style='display: none'>Resume Song</button>
</div>
