body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Tillana', cursive;
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #ab79c4;
  margin: 0px;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.logo {
  font-family: 'Tillana', cursive;
  text-decoration: none;
  color: black;
  font-size: 48px;
  padding: 16px;
}
.header-nav-wrapper {
  display: inline-block;
  width: 40%;
  margin-left: 30%;
  text-align: right;
}

.header-nav-items {
  display: inline-block;
  margin-right: 12px;
  font-size: 24px;
}
.header-nav-links {
  text-decoration: none;
  color: black;
}
.song-scroll-box {
  border: 1px solid black;
}
.song-scroll-box-wrapper {
  margin: 0 auto;
  width: 90%;
}
.fingerboard-wrapper {
  width: 280px;
  display: inline-block;
}
.fingerboard {
  background-image: url('../images/finger-board-template-v3.png');
  background-repeat: no-repeat;
  height: 350px;
  width: 225px;
}
.fingerPlacement {
  font-size: 26px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  height: 38px;
  width: 38px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  border-radius: 20px;
  position: relative;
}
.songs-ui-box-wrapper {
  display:inline-block;
  width: 50%;
  text-align: center;
}
.song-bpm {
  display: inline-block;
}
.song-button-spacer {
  display: inline-block;
  width: 20%;
}
.g6 {
  left: 16px;
  top: 55px;
}
.g5 {
  left: 14px;
  top: 54px;
}
.g4 {
  left: 12px;
  top: 48px;
}
.g3 {
  left: 10px;
  top: 41px;
}
.g2 {
  left: 6px;
  top: 36px;
}
.g1 {
  left: 2px;
  top: 29px;
}
.g0 {
  left: 3px;
  top: 14px;
}
.r6 {
  left: 16px;
  top: 42px;
}
.r5 {
  left: 15px;
  top: 43px;
}
.r4 {
  left: 14px;
  top: 40px;
}
.r3 {
  left: 11px;
  top: 35px;
}
.r2 {
  left: 9px;
  top: 25px;
}
.r1 {
  left: 8px;
  top: 19px;
}
.r0 {
  left: 7px;
  top: 3px;
}
.b6 {
  left: 17px;
  top: 44px;
}
.b5 {
  left: 17px;
  top: 43px;
}
.b4 {
  left: 17px;
  top: 40px;
}
.b3 {
  left: 17px;
  top: 36px;
}
.b2 {
  left: 15px;
  top: 30px;
}
.b1 {
  left: 15px;
  top: 20px;
}
.b0 {
  left: 10px;
  top: 3px;
}
.y6 {
  left: 21px;
  top: 53px;
}
.y5 {
  left: 21px;
  top: 50px;
}
.y4 {
  left: 22px;
  top: 47px;
}
.y3 {
  left: 23px;
  top: 44px;
}
.y2 {
  left: 22px;
  top: 37px;
}
.y1 {
  left: 22px;
  top: 29px;
}
.y0 {
  left: 16px;
  top: 15px;
}
